<div *ngIf="!this.edit()" class="card">
  <div class="card-header">
      <a href='articles/{{this.article.id}}'><h4 class="card-title">{{this.article.title}}</h4></a>
  </div>
  <div class="card-body">
    <p class="card-text">{{this.article.content}}</p>
    <blockquote ><small class="text-muted">{{this.article.author}}</small></blockquote>
    <div class="buttons">
      <button (click)="delete()" type="button" class="btn btn-danger" title="Supprimer l'article">Supprimer</button>
      <button (click)="handleEdit()" type="button" class="btn btn-info" title="Modifier l'article">Editer</button>
    </div>
  </div>
</div>
<div *ngIf="this.edit()" class="card">
  <div class="card-header">
      Titre: <input (change)="setTitle()" type="text" value={{this.article.title}} />
  </div>
  <div class="card-body">
    Contenu: <input type="text" value={{this.article.content}}/><br />
    Auteur: <input type="text" value={{this.article.author}}/>
    <div class="buttons">
      <button (click)="delete()" type="button" class="btn btn-danger" title="Supprimer l'article">Supprimer</button>
      <button (click)="update()" type="button" class="btn btn-info" title="Modifier l'article">Update</button>
    </div>
  </div>
</div>
