<div *ngIf="!this.edit()" class="card">
  <div class="card-header">
      <a href='articles/{{this.article.id}}'><h4 class="card-title">{{this.article.title}}</h4></a>
  </div>
  <div class="card-body">
    <p class="card-text">{{this.article.content}}</p>
    <blockquote ><small class="text-muted">{{this.article.author}}</small></blockquote>
    <div class="buttons">
      <button (click)="delete()" type="button" class="btn btn-danger" title="Supprimer l'article">Supprimer</button>
      <button (click)="handleEdit()" type="button" class="btn btn-info" title="Modifier l'article">Editer</button>
    </div>
  </div>
</div>
<div *ngIf="this.edit()" class="card">
  <form [formGroup]="articleForm" (ngSubmit)="editArticle()">
    <div class="card-header form-group">
        <input class="form-control" formControlName="title" id="title" placeholder="Titre">
    </div>
    <div class="card-body">
      <div class="form-group row">
        <textarea rows="4" class="form-control" formControlName="content" id="content" placeholder="Contenu"></textarea>
      </div>
      <div class="form-group row">
        <input class="form-control" formControlName="author" id="author" placeholder="Auteur">
      </div>
      <div class="buttons">
        <button class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Sauvegarder</button>
      </div>
    </div>
  </form>
</div>
