<div *ngIf="!this.edit()" class="card">
  <div class="card-header">
      <a href='articles/{{this.article.id}}'><h4 class="card-title">{{this.article.title}}</h4></a>
  </div>
  <div class="card-body">
    <p class="card-text">{{this.article.content}}</p>
    <blockquote ><small class="text-muted">{{this.article.author}}</small></blockquote>
    <div class="buttons">
      <button (click)="delete()" type="button" class="btn btn-danger" title="Supprimer l'article">Supprimer</button>
      <button (click)="handleEdit()" type="button" class="btn btn-info" title="Modifier l'article">Editer</button>
    </div>
  </div>
</div>
<div *ngIf="this.edit()" class="card">
  <form [formGroup]="articleForm" (ngSubmit)="editArticle()">
    <div class="form-group">
      <label class="center-block">title:
        <input class="form-control" formControlName="title">
      </label>
      <br />
      <label class="center-block">content:
        <textarea class="form-control" formControlName="content"></textarea>
      </label>
      <br />
      <label class="center-block">author:
        <input class="form-control" formControlName="author">
      </label>
      <br />
      <button class="btn btn-success" [disabled]="articleForm.invalid" type="submit">Save</button>
    </div>
  </form>
</div>
